# Ignore Makefile and similar
Makefile linguist-generated
*.mk linguist-generated

# Ignore platform-specific and build folders
android/ linguist-vendored
ios/ linguist-vendored
linux/ linguist-vendored
macos/ linguist-vendored
windows/ linguist-vendored
build/ linguist-generated
web/ linguist-vendored

# Ensure Dart files are counted properly
*.dart linguist-detectable
