# Deprioritize Makefile and any non-Dart files
Makefile linguist-generated

# Ignore common non-Dart folders
build/** linguist-generated
vendor/** linguist-vendored
ios/** linguist-vendored
android/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
linux/** linguist-vendored

# Force Dart files to count
*.dart linguist-detectable
